{% extends "generic.html" %}

{% block header %}
{{ entry.title }}
{% endblock %}

{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<a href="entry_3">Continuing from entry_3.</a><br /><br />
<p>This post explains how I setup a samba server to store data from my desktop computer.</p>
<h3>Installation</h3>
<pre><code class="bash">$ sudo apt-get install samba samba-common-bin</code></pre>
<h3>Configuration file</h3>
<fieldset><legend>/etc/samba/smb.conf</legend>
workgroup = WORKGROUP

[PiShare]
 comment=Raspberry Pi Shared Folder
 path=/media/pi/Demo_Backup
 browseable=Yes
 writeable=Yes
 only guest=no
 create mask=0777
 directory mask=0777
 public=yes
 Guest ok=yes
</fieldset>
<h3>Mount External SSD to Raspberry PI</h3>
<p>Plug-in SSD to USB port</p>
<p>Verify SSD is mounted at /media/pi/Demo_Backup</p>
<pre><code class="bash">$ sudo /etc/init.d/samba restart</code></pre>
<h3>Setup Windows Mapped Drive</h3>
<p>In Windows Explorer, right click 'Network'.</p>
<img src="/static/images/new_map.png" alt="" />
<p>Set drive letter and browse for 'RASPBERRYPI' in 'Network' tab.</p>
<img src="/static/images/map_path.PNG" alt="" />
<p>Verify contents on SSD are available</p>
<img src="/static/images/map_drive.png" alt="" />
{% endblock %}
