{% extends "generic.html" %}
{% block header %}
{{ entry.title }}
{% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% block content %}
<p>This post explains how I setup my blog framework using the <a href="https://docs.djangoproject.com/en/2.2/intro/">Django site</a>.</p>
<h3>Installation on Ubuntu</h3>
<pre ><code class="bash">sudo apt-get install python3 python3-pip python3-django python-django-common</code></pre>
<h3>Setup Project and a Sub-Page</h3>
<p>Set up project 'blog' and a sub-page 'daily'</p>
<pre><code class="bash">django-admin startproject blog
python3 manage.py startapp daily</code></pre>
<h3>Adding Content</h3>
<p>blog/settings.py</p>
<pre><code class="python">INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'daily.apps.DailyConfig',
]
</code></pre>
<p>daily/views.py</p>
<pre><code class="bash">def index(request):
    return render(request, 'daily/index.html', {})
</code></pre>
<p>create daily/urls.py<br />
daily/urls.py</p>
<pre><code class="python">from django.urls import path
from . import views

urlpatterns = [
    path('', views.index, name='daily/index'),]
</code></pre>
<p>create path daily/templates/daily inside the daily directory<br />
daily/templates/daily/entry.html</p>
<pre><code class="html">&lt;h1&gt;Hello World&lt;h1&gt;</code></pre>
<h3>Running Server</h3>
<pre><code class="bash">python3 manage.py runserver

Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 17 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessions.
Run 'python manage.py migrate' to apply them.

November 27, 2019 - 06:51:19
Django version 2.2.7, using settings 'blog.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
[27/Nov/2019 06:51:21] "GET /daily/ HTTP/1.1" 200 103</code></pre>
{% endblock %}
