{% extends "generic.html" %}

{% block header %}
{{ entry.title }}
{% endblock %}

{% load staticfiles %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% block content %}
<p>This post explains how I set up a raspberry pi to provide <a href="https://www.tecmint.com/setup-linux-as-router/">internet via ethernet</a> and providing an ad-blocker using <a href="https://pi-hole.net/">PiHole</a>.</p>
<h3>Configuration to forward internet from Raspberry Pi to computer</h3>
<code>$ uname -a<br />
Linux raspberrypi 4.19.66-v7+ #1253 SMP Thu Aug 15 11:49:46 BST 2019 armv7l GNU/Linux</code><br />
<p>On the raspberry pi, connect to the internet using the wlan0 interface.</p><br />
<code>$ sudo apt-get install openssh-server udhcpd</code><br />
<code>$ sudo systemctl status ssh<br />
● ssh.service - OpenBSD Secure Shell server<br />
   Loaded: loaded (/lib/systemd/system/ssh.service; enabled; vendor preset: enabled)<br />
   Active: active (running) since Thu 2019-12-05 21:09:20 PST; 1 day 17h ago<br />
  Process: 433 ExecStartPre=/usr/sbin/sshd -t (code=exited, status=0/SUCCESS)<br />
 Main PID: 469 (sshd)<br />
    Tasks: 1 (limit: 4915)<br />
   CGroup: /system.slice/ssh.service<br />
           └469 /usr/sbin/sshd -D<br />
<br />
Dec 05 21:09:19 raspberrypi systemd[1]: Starting OpenBSD Secure Shell server...<br />
Dec 05 21:09:20 raspberrypi sshd[469]: Server listening on 0.0.0.0 port 22.<br />
Dec 05 21:09:20 raspberrypi sshd[469]: Server listening on :: port 22.<br />
Dec 05 21:09:20 raspberrypi systemd[1]: Started OpenBSD Secure Shell server.</code><br /><br />
<code>
$ sudo iptables -F<br />
$ sudo iptables -t nat -F<br />
$ sudo iptables -t nat -A POSTROUTING -o wlan0 -j MASQUERADE<br />
$ sudo iptables -A FORWARD -i wlan0 -o eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT<br />
$ sudo iptables -A FORWARD -i eth0 -o wlan0 -j ACCEPT</code><br />
<code>
$ sudo iptables -L<br />
Chain INPUT (policy ACCEPT)<br />
target     prot opt source               destination<br />
<br />
Chain FORWARD (policy ACCEPT)<br />
target     prot opt source               destination<br />
ACCEPT     all  --  anywhere             anywhere             state RELATED,ESTABLISHED<br />
ACCEPT     all  --  anywhere             anywhere<br />
<br />
Chain OUTPUT (policy ACCEPT)<br />
target     prot opt source               destination</code><br />
<h3>Setup PiHole on raspberry PI</h3>
<code>$ git clone --depth 1 https://github.com/pi-hole/pi-hole.git Pi-hole<br />
$ cd Pi-hole<br />
$ sudo bash basic-install.sh</code><br />
<code>$ curl -XGET pi.hole</code>
<h3>Connect windows 10 client to raspberry pi</h3>
<p>Open the 'Settings' app, select 'Network & Internet', then select 'Ethernet' tab on the left.</p>
<p>Select 'Change Adapter Options'</p>
<img src="{% static 'images/Settings_window.PNG' %}" alt="">
<p>Right click 'Ethernet' interface, and select 'Properties'.</p>
<img src="{% static 'images/network_connections.PNG'%}" alt="">
<p>Select 'Obtain an IP address automatically'</p>
<img src="{% static 'images/network_properties.PNG'%}" alt="">
<p>In web browser visit 'pi.hole.com'</p>
<img src="{% static 'images/raspberry_pi_admin.PNG'%}" alt=""><br />
<br />
{% endblock %}
