{% extends "generic.html" %}

{% block header %}
{{ entry.title }}
{% endblock %}

{% load staticfiles %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% block content %}
<p>This post explains how I setup a very simple unit test project in visual studio. The repo is on github as <a href="https://github.com/tgeery/VsTestFramework">VsTestFramework</a></p>
<h3>Setup a Sample Project (ExampleProject1)</h3>
<p>Performs addition and subtraction</p>
<fieldset><legend>Example1.h</legend>
#pragma once
class Example1
{
public:
  Example1(void);
  ~Example1(void);

  int Add(int a, int b);
  int Subtract(int a, int b);
};
</fieldset>
<fieldset><legend>Example1.cpp</legend><pre><code class="cpp">#include "StdAfx.h"
#include "Example1.h"

Example1::Example1(void)
{}

Example1::~Example1(void)
{}

int Example1::Add(int a, int b) {
	return a+b;
}

int Example1::Subtract(int a, int b) {
	return a-b;
}</code></pre>
</fieldset>
<h3>Setup a Native Test Project</h3>
<p>Start Visual Studio, select 'Create a new project'.</p>
<img src="/static/images/open_vs.png" alt="" />
<p>Select 'Native Unit Test Project'.</p>
<img src="/static/images/test_vs.png" alt="" />
<fieldset><legend>UnitTest1.cpp</legend><pre><code class="cpp">[TestMethod]
void TestMethod1()
{
  Example1 ex1;
  Assert::AreEqual(3, ex1.Add(1,2));
  Assert::AreEqual(4, ex1.Add(2,2));
};

[TestMethod]
void TestMethod2()
{
  Example1 ex1;
  Assert::AreEqual(2, ex1.Subtract(4,2));
  Assert::AreEqual(1, ex1.Subtract(3,2));
}</code></pre>
</fieldset>
<p>Right click project and select 'Run tests'.</p>
<img src="/static/images/run_vs.png" alt="" />
<p>Verify results</p>
<img src="/static/images/result_vs.PNG" alt="" />
{% endblock %}
