{% extends "generic.html" %}

{% block header %}
{{ entry.title }}
{% endblock %}

{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% block content %}
<p>This entry describes more about github badges: pypi, docs, license.</p>
<h3>Python Badges</h3>
<p>As described in <a href='https://thomas-cokelaer.info/blog/2014/08/1013/'>this blog</a> use <a href='https://badge.fury.io/for/py'>this site</a> to search for a pypi package such as Django to get markup for specific package version.</p>
<pre><code class='markup'>[![PyPI version](https://badge.fury.io/py/Django.svg)](https://badge.fury.io/py/Django)
[![Python 3.8](https://img.shields.io/badge/python-3.8-blue.svg)](https://www.python.org/downloads/release/python-382/)</code></pre>
<h3>Other Badges</h3>
<p>Use <a href='https://github.com/Naereen/badges'>this site</a> to find useful badges<p>
<p>docs</p>
<pre><code class='markup'>[![Documentation Status](https://readthedocs.org/projects/ansicolortags/badge/?version=latest)](http://ansicolortags.readthedocs.io/?badge=latest)</code></pre>
<p>license</p>
<pre><code class='markup'>[![GitHub license](https://img.shields.io/github/license/Naereen/StrapDown.js.svg)](https://github.com/Naereen/StrapDown.js/blob/master/LICENSE)</code></pre>
{% endblock %}
