<h1>{{ entry.title }}</h1>

{% load staticfiles %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<a href="entry_3">Continuing from entry_3.</a><br /><br />
<p>This post explains how I setup a samba server to store data from my desktop computer.</p>
<h3>Installation</h3>
<code>
$ sudo apt-get install samba samba-common-bin<br />
</code>
<h3>Configuration file</h3>
<fieldset><legend>/etc/samba/smb.conf</legend>
workgroup = WORKGROUP<br />
<br />
[PiShare]<br />
 comment=Raspberry Pi Shared Folder<br />
 path=/media/pi/Demo_Backup<br />
 browseable=Yes<br />
 writeable=Yes<br />
 only guest=no<br />
 create mask=0777<br />
 directory mask=0777<br />
 public=yes<br />
 Guest ok=yes<br />
</fieldset>
<h3>Mount External SSD to Raspberry PI</h3>
<p>Plug-in SSD to USB port</p>
<p>Verify SSD is mounted at /media/pi/Demo_Backup</p>
<code>$ sudo /etc/init.d/samba restart</code>
<h3>Setup Windows Mapped Drive</h3>
<p>In Windows Explorer, right click 'Network'.</p>
<img src="/static/images/new_map.png" alt="" />
<p>Set drive letter and browse for 'RASPBERRYPI' in 'Network' tab.</p>
<img src="/static/images/map_path.PNG" alt="" />
<p>Verify contents on SSD are available</p>
<img src="/static/images/map_drive.png" alt="" />
