{% extends "generic.html" %}

{% block header %}
{{ entry.title }}
{% endblock %}

{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% block content %}
<p>This entry describes a simple implementation of Blender's <a href="https://docs.blender.org/api/current/bpy.ops.mesh.html">Python API</a> using <a href="https://code.visualstudio.com/docs/cpp/config-linux">this reference</a> to create a cube with material.</p>
<h3>Open Blender with System Console on Linux</h3>
<pre><code class='bash'>blender --start-console</code></pre>
<h3>Python Script</h3>
<pre><code class='python'>import bpy
import bmesh

res = bpy.ops.mesh.primitive_cube_add(location=(0,0,0))

if res.pop() == 'FINISHED':
    bpy.ops.object.mode_set(mode='EDIT')
    obj = bpy.data.objects['Cube']

    cube = bmesh.from_edit_mesh(obj.data)
    bpy.ops.mesh.inset(thickness=0.3, depth=0.0, use_individual=True)
    bpy.ops.mesh.inset(thickness=0.0, depth=0.3, use_individual=True)

    mat = bpy.data.materials.new(name='Material')
    obj.data.materials.append(mat)
    bpy.context.object.active_material.diffuse_color = (1,0,0,1)

    bpy.ops.object.mode_set(mode='OBJECT')</code></pre>
<h3>Result</h3>
<img src="{% static 'images/blender_python_cube.png'%}" alt="">
{% endblock %}
